<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
{{!-- 		<link rel="stylesheet" href="./assets/css/style.css" type="text/css" />
 --}}
				<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<title>Basic Task Manager</title>
		<style type="text/css">

			body{
				background-color: #FECC5E;
			}
			.row{
				padding-top: 30px;
			}
			.container div > h1{
				text-align: center
			}
			#task-date-complete {
				font-size: 12px;
				overflow: hidden;
				width: 143px;
				color: #4479A1;
			}
			#task-completed-text {
				font-weight: bold;
				font-size: 16px; 
			}
			.white{
				background-color: #ffffff;
				width: 300px;
				height: 400px;
				overflow: scroll;
				border: 3px dashed #E98B5A;
			}

		</style>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>